.DS_Store

# Xcode user-specific settings and temp files
*.xcsettings
*.xcuserdatad/
*.xcuserdata/
*.xcworkspace/xcuserdata/
*.xcworkspace/xcshareddata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/project.xcworkspace/xcshareddata/
*.xcodeproj/xcuserdata/
*.xcodeproj/xcshareddata/

# Build products
DerivedData/
build/
WishTrip/WishTrip/Service/Secret.xcconfig
